# Data Analysis On Covid 19 DataSet

 We will cover the following terms to complete this project

##    import Libries

## Load Data

## Collect All Basic Info Of The Data set

## Finding The missing Value and Mange them

## Finding The Duplliacte Value and Manage them

# Cover the following Question about the Data Set

####             Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region.
####             Q. 2) Remove all the records where the Confirmed Cases is Less Than 1000.
####             Q. 3) In which Date, maximum number of Confirmed cases were recorded ?
####             Q. 4) In which Date, minimum number of Deaths cases were recorded ?
####             Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ?
####             Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.
####             Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.

# import Libries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load Data

In [2]:
Data=pd.read_csv("day_wise.csv")
Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1,1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
2,1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Save_Data=Data
Save_Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1,1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
2,1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Collect All Basic Info Of The Data set

In [4]:
Data.shape

(189, 12)

In [5]:
Data.count()

Date                      188
Confirmed                 188
Deaths                    188
Recovered                 188
Active                    188
New cases                 188
New deaths                188
New recovered             188
Deaths / 100 Cases        188
Recovered / 100 Cases     188
Deaths / 100 Recovered    188
No. of countries          188
dtype: int64

In [6]:
Data.dtypes

Date                       object
Confirmed                 float64
Deaths                    float64
Recovered                 float64
Active                    float64
New cases                 float64
New deaths                float64
New recovered             float64
Deaths / 100 Cases        float64
Recovered / 100 Cases     float64
Deaths / 100 Recovered    float64
No. of countries          float64
dtype: object

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    float64
 2   Deaths                  188 non-null    float64
 3   Recovered               188 non-null    float64
 4   Active                  188 non-null    float64
 5   New cases               188 non-null    float64
 6   New deaths              188 non-null    float64
 7   New recovered           188 non-null    float64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    float64
dtypes: float64(11), object(1)
memory usage: 17.8+ KB

# Finding The missing Value and Mange them

In [8]:
Data.isnull().sum()

Date                      1
Confirmed                 1
Deaths                    1
Recovered                 1
Active                    1
New cases                 1
New deaths                1
New recovered             1
Deaths / 100 Cases        1
Recovered / 100 Cases     1
Deaths / 100 Recovered    1
No. of countries          1
dtype: int64

#### Drop the missing Value in each columns

In [9]:
Data=Data.dropna()
Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1,1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
2,1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
183,7/23/2020,15510481.0,633506.0,8710969.0,6166006.0,282756.0,9966.0,169714.0,4.08,56.16,7.27,187.0
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0

 There is only one row which we are remove from the data set

In [10]:
Data.isnull().sum()

Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
dtype: int64

 now there is no any missing value in each columns

# Finding The Duplliacte Value and Manage them

In [11]:
Duplicate_rows=Data[Data.duplicated()]
Duplicate_rows

Empty DataFrame
Columns: [Date, Confirmed, Deaths, Recovered, Active, New cases, New deaths, New recovered, Deaths / 100 Cases, Recovered / 100 Cases, Deaths / 100 Recovered, No. of countries]
Index: []

 there is no any dupliacte rows in the data set

# Cover the following Question about the Data Set

# ============================================================

#### Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Data.

In [12]:
Data.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1,1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
2,1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0

In [13]:
Data.groupby("Date").sum()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
Date,,,,,,,,,,,
1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0
1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
...,...,...,...,...,...,...,...,...,...,...,...
7/5/2020,11454847.0,534150.0,6105546.0,4815151.0,182695.0,3445.0,119171.0,4.66,53.30,8.75,187.0
7/6/2020,11622190.0,537947.0,6228768.0,4855475.0,167343.0,3797.0,123222.0,4.63,53.59,8.64,187.0
7/7/2020,11833034.0,544054.0,6373513.0,4915467.0,210844.0,6107.0,144745.0,4.60,53.86,8.54,187.0
7/8/2020,12044836.0,549373.0,6531016.0,4964447.0,211802.0,5319.0,157503.0,4.56,54.22,8.41,187.0
7/9/2020,12273063.0,554831.0,6665237.0,5052995.0,228227.0,5458.0,134221.0,4.52,54.31,8.32,187.0

 Now we having need to find out olny Confirmed,Deaths and Recovered cases

In [14]:
Data.groupby("Date")[["Confirmed", "Deaths","Recovered"]].sum()

            Confirmed    Deaths  Recovered
Date
1/22/2020       555.0      17.0       28.0
1/23/2020       654.0      18.0       30.0
1/24/2020       941.0      26.0       36.0
1/25/2020      1434.0      42.0       39.0
1/26/2020      2118.0      56.0       52.0
...               ...       ...        ...
7/5/2020   11454847.0  534150.0  6105546.0
7/6/2020   11622190.0  537947.0  6228768.0
7/7/2020   11833034.0  544054.0  6373513.0
7/8/2020   12044836.0  549373.0  6531016.0
7/9/2020   12273063.0  554831.0  6665237.0

[188 rows x 3 columns]

#### Q. 2) Remove all the records where the Confirmed Cases is Less Than 1000

In [15]:
remove_Confirmed_Cases=Data[Data["Confirmed"]<1000]
remove_Confirmed_Cases

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,1/22/2020,555.0,17.0,28.0,510.0,0.0,0.0,0.0,3.06,5.05,60.71,6.0
1,1/23/2020,654.0,18.0,30.0,606.0,99.0,1.0,2.0,2.75,4.59,60.00,8.0
2,1/24/2020,941.0,26.0,36.0,879.0,287.0,8.0,6.0,2.76,3.83,72.22,9.0

In [17]:
# Now remove this from the dataset
listindex=list()
for i in remove_Confirmed_Cases.index:
    listindex.append(i)

listindex

[0, 1, 2]

In [18]:
Data=Data.drop(listindex)
Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
5,1/27/2020,2927.0,82.0,61.0,2784.0,809.0,26.0,9.0,2.80,2.08,134.43,16.0
6,1/28/2020,5578.0,131.0,107.0,5340.0,2651.0,49.0,46.0,2.35,1.92,122.43,16.0
7,1/29/2020,6166.0,133.0,125.0,5908.0,588.0,2.0,18.0,2.16,2.03,106.40,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...
183,7/23/2020,15510481.0,633506.0,8710969.0,6166006.0,282756.0,9966.0,169714.0,4.08,56.16,7.27,187.0
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0

 Here you can see that we can sucssfilly remove the data

In [19]:
Data[Data["Confirmed"]<1000]

Empty DataFrame
Columns: [Date, Confirmed, Deaths, Recovered, Active, New cases, New deaths, New recovered, Deaths / 100 Cases, Recovered / 100 Cases, Deaths / 100 Recovered, No. of countries]
Index: []

#### Q. 3) In which Date, maximum number of Confirmed cases were recorded ?

In [23]:
Data.groupby("Date")["Confirmed"].sum().sort_values(ascending=False)

Date
7/27/2020    16480485.0
7/26/2020    16251796.0
7/25/2020    16047190.0
7/24/2020    15791645.0
7/23/2020    15510481.0
                ...
1/29/2020        6166.0
1/28/2020        5578.0
1/27/2020        2927.0
1/26/2020        2118.0
1/25/2020        1434.0
Name: Confirmed, Length: 185, dtype: float64

 second way to find maximum Confirmed cases

In [37]:
new_Data=Data.sort_values(by="Confirmed",ascending=False)
new_Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
183,7/23/2020,15510481.0,633506.0,8710969.0,6166006.0,282756.0,9966.0,169714.0,4.08,56.16,7.27,187.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7,1/29/2020,6166.0,133.0,125.0,5908.0,588.0,2.0,18.0,2.16,2.03,106.40,18.0
6,1/28/2020,5578.0,131.0,107.0,5340.0,2651.0,49.0,46.0,2.35,1.92,122.43,16.0
5,1/27/2020,2927.0,82.0,61.0,2784.0,809.0,26.0,9.0,2.80,2.08,134.43,16.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0

In [38]:
new_Data.head(1)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0

 Here in above data there are Maximum number of Confirmed Cases

#### Q. 4) In which Date, minimum number of Deaths cases were recorded ?

In [42]:
new_Data_For_Deaths=Data.sort_values(by="Deaths",ascending=True)

In [43]:
new_Data_For_Deaths.head(1)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0

#### Q. 5) How many Confirmed, Deaths & Recovered cases were reported in  7/25/2020?

In [44]:
Data[Data["Date"]=="7/25/2020"]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0

#### Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.

In [46]:
new_Data=Data.sort_values(by="Confirmed",ascending=True)
new_Data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
5,1/27/2020,2927.0,82.0,61.0,2784.0,809.0,26.0,9.0,2.80,2.08,134.43,16.0
6,1/28/2020,5578.0,131.0,107.0,5340.0,2651.0,49.0,46.0,2.35,1.92,122.43,16.0
7,1/29/2020,6166.0,133.0,125.0,5908.0,588.0,2.0,18.0,2.16,2.03,106.40,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...
183,7/23/2020,15510481.0,633506.0,8710969.0,6166006.0,282756.0,9966.0,169714.0,4.08,56.16,7.27,187.0
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0

#### Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.

In [47]:
new_Data_for_Recover=Data.sort_values(by="Recovered",ascending=False)
new_Data_for_Recover

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
187,7/27/2020,16480485.0,654036.0,9468087.0,6358362.0,228693.0,5415.0,174623.0,3.97,57.45,6.91,187.0
186,7/26/2020,16251796.0,648621.0,9293464.0,6309711.0,204606.0,4104.0,134721.0,3.99,57.18,6.98,187.0
185,7/25/2020,16047190.0,644517.0,9158743.0,6243930.0,255545.0,4867.0,219038.0,4.02,57.07,7.04,187.0
184,7/24/2020,15791645.0,639650.0,8939705.0,6212290.0,281164.0,6144.0,228736.0,4.05,56.61,7.16,187.0
183,7/23/2020,15510481.0,633506.0,8710969.0,6166006.0,282756.0,9966.0,169714.0,4.08,56.16,7.27,187.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7,1/29/2020,6166.0,133.0,125.0,5908.0,588.0,2.0,18.0,2.16,2.03,106.40,18.0
6,1/28/2020,5578.0,131.0,107.0,5340.0,2651.0,49.0,46.0,2.35,1.92,122.43,16.0
5,1/27/2020,2927.0,82.0,61.0,2784.0,809.0,26.0,9.0,2.80,2.08,134.43,16.0
4,1/26/2020,2118.0,56.0,52.0,2010.0,684.0,14.0,13.0,2.64,2.46,107.69,13.0
3,1/25/2020,1434.0,42.0,39.0,1353.0,493.0,16.0,3.0,2.93,2.72,107.69,11.0